body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

form {
    margin: 0 auto;
    width: 660px;
    background-color: #FF6F91;
    padding: 20px;
    border-radius: 5px;
    margin-top: 100px;
}

form input {
    padding: 20px;
}

.form-group label {
    margin-right: 80px;
    color: white;
}

.nome label {
    margin: 0px 33px 0px 0px;
}

.email label {
    margin: 0px 77px 0px 0px;
}

.cpf label {
    margin: 0px 87px 0px 0px;
}

.data label {
    margin: 0px 27px 0px 0px;
}

.desc label {
    margin: 0px 0px 0px 0px;
}

button {
    margin-left: 220px;
    width: 200px;
    font-weight: 900;
    background-color: cornflowerblue;
    color: white;
    border: none;
}

button:active {
    background-color: rgba(165, 15, 15, 0.508);
    color: white;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-right: 14px;
    max-width: 430px;
}

section span {
    color: white;
    font-size: 1.5rem;
}

.check {
    max-width: 590px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.check>span {
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 133px;
    color: white;
}

.d1 {
    max-width: 478px;
    height: 40px;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.d1 span {
    margin: 0px 60px 0px 0px;
}

.d2 {
    max-width: 473px;
    height: 40px;
    font-size: 1.3rem;
}

.d2 span {
    margin: 0px 46px 0px 0px;
}

.d3 {
    width: 503px;
    height: 40px;
    font-size: 1.3rem;
}

.d3 span {
    margin: 0px 154px 0px 0px;
}
