form {
    margin: 0 auto;
    width: 600px;
    margin-top: 20px;
    margin-top: 100px;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: row;
}

.form-group label {
    margin-right: 80px;
    color: white;
}

.nome label {
    margin: 0px 33px 0px 0px;
}

.email label {
    margin: 0px 77px 0px 0px;
}

.cpf label {
    margin: 0px 87px 0px 0px;
}

.data label {
    margin: 0px 27px 0px 0px;
}

.desc label {
    margin: 0px 0px 0px 0px;
}

button {
    margin-left: 190px;
    width: 200px;
    font-weight: 900;
    background-color: cornflowerblue;
    color: white;
    border: none;
}

button:active {
    background-color: rgba(165, 15, 15, 0.508);
    color: white;
}
