<body>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">

        <div class="form-group nome has-success has-feedback" [ngClass]=" aplicarCssError(nome)">
            <label for="name">Nome completo</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" [(ngModel)]="usuarios.nome" required #nome="ngModel">

        </div>

        <div class="form-group email has-success   has-feedback" [ngClass]=" aplicarCssError(email)">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="julianaOliveira@gmail.com" name="email" [(ngModel)]="usuarios.email" required email #email="ngModel">
        </div>

        <div class="form-group cpf  has-success  has-feedback" [ngClass]=" aplicarCssError(cpf)">
            <label for="exampleInputEmail1 ">CPF</label>
            <input class="form-control" id="exampleInputEmail1" placeholder="13882646727" name="cpf" maxlength="11" [(ngModel)]="usuarios.cpf" required #cpf="ngModel" pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})">

        </div>

        <div class="form-group data has-success   has-feedback" [ngClass]=" aplicarCssError(data)">
            <label for="exampleInputEmail1">Data da Consulta</label>
            <input type="date" class="form-control" id="" placeholder="" name="data" [(ngModel)]="usuarios.dataConsulta" required #data="ngModel">
        </div>



        <div class="check">
            <span>Procedimentos Selecionados</span>
            <section>
                <div class="d1"><span><input type="checkbox" name="UltraS" id=""
              [(ngModel)]="usuarios.UltraSonografia">Ultra-sonografia
            abdominal</span><span><input type="checkbox" name="RadioG" id=""
              [(ngModel)]="usuarios.RadiografiaTorax">Radiografia do tórax</span>
                </div>

                <div class="d2"><span><input type="checkbox" name="Tomogra" id=""
              [(ngModel)]="usuarios.TomografiaComputadorizada">Tomografia computadorizada</span><span><input
              type="checkbox" name="Reson" id="">Resonância magnética</span>
                </div>

                <div class="d3"><span><input type="checkbox" name="Colonos" id=""
              [(ngModel)]="usuarios.Colonoscopia">Colonoscopia</span><span><input type="checkbox" name="Endosco" id=""
              [(ngModel)]="usuarios.Endoscopia">Endoscopia</span>
                </div>
            </section>
        </div>



        <div class="form-group desc has-success" [ngClass]=" aplicarCssError(desc)">
            <label for="exampleInputEmail1">Descrição do paciente</label>
            <textarea class="form-control" name="desc" id="" cols="30" rows="10" [(ngModel)]="usuarios.DescricaoPaciente" required #desc="ngModel"></textarea>
        </div>

        <button type="submit" class="btn" (click)=" showDados()" [disabled]="form.invalid">Enviar</button>

    </form>


</body>
